*{
    margin:0;

}
a{
    text-decoration: none;
}
/* HEADER AREA */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 78px;
    width: 100%;
    background-color: #FFFFFF;
    border-bottom: 1px solid #57586E11;
}
#h-nav{
    /* background-color: red; */
    width: 85%;
    height: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#h-nav a{
    padding: 5;
    font-size: 1rem;
    font-weight: 200;
    font-family:monospace;
}
#nav-opt{
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    position: relative;
}
#nav-opt a{
    color: #57586E;
}

.gs-btn{
    padding: 12px 28px;
    color: #FFFFFF;
    background-color: #1753ff;
    border-radius: 50px;
}
.gs-btn:hover{
    opacity: 0.8;
}


/* CONTENT BOX */
.container{
    display: flex;
    justify-content: center;
    width: 100%;
    /* height:400px; */
}

/* heading */
#topic{
    width: 750px;
    margin: 90px 0 90px 0;
}

h3{
    letter-spacing: 3px;
    text-align: center;
    font-size: 1rem;
    font-family: sans-serif;
    color: #0A083Ab3;
}
h2{
    text-align: center;
    font-size: 70px;
    font-family: sans-serif;
    color: #0A083B;
}
/* content text */

.text-area{
    margin: 90px 0 90px 0;
    width:750px;
    color: #0A083B;
    font-weight: 200;
    font-family:sans-serif;
    text-align:center;
    font-size: 19px;
    line-height: 30px;
}

/* Entroll box */
.enroll-box{
    display: flex;
    justify-content: space-evenly;
}

/* PRICE ENROLL COURSE */
.batch{
    padding: 5px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-family: sans-serif;
    font-weight: 700;
}
#best-price{
    padding: 5px;
    color: #0A083B;
    font-size: 1.5rem
}
#old-price{
    color: #57586E;
    font-size: 0.9rem;
}
#info-course{
    padding: 5px;
    color: #0A083B;
    font-size: 1rem
}

/* new title */
#edu-title{
    margin: 90px 0 -20px 0;
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    color: #0A083B;
}
#mat-title{
    margin: 30px 0 -20px 0;
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    color: #0A083B;
}

#material-ul{
    text-align: justify;
    list-style: none;
}
      
#material-ul li:before {
    content: '✓ ';
}





/* FOOTER BAR */
footer{
    display: grid;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #1E1E2C;
    color: white;
}
#foot-area{
    margin-top: 50px;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: sans-serif;
}

#social-logo{
    height: 50%;
    width: 300px;
    display: flex;
    justify-content: space-between;

}
#social-logo i{
    margin-top: 80px;
    padding: 5px;
    color: white;
    font-size: 40px;
}
#social-logo i:hover{
    transition: ease-in-out 160ms;
    transform: scale(1.3);
}

#copy-rights{
    margin-top: 80px;
    height: 100px;
    width: 100%;
    justify-content: start;
}